@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

body {
  font-family: 'Orbitron', sans-serif;
}

.text-neon-white {
  color: #ffffff;
}

.bg-neon-white {
  background-color: #ffffff;
}

.border-neon-white {
  border-color: #ffffff;
}

.hover\:shadow-neon:hover {
  box-shadow: 0 0 10px #ffffff, 0 0 40px #ffffff;
}

.bg-grid {
  background-image: linear-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px),
                    linear-gradient(to right, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
  background-size: 40px 40px;
}

@keyframes move {
  0% { background-position: 0 0; }
  100% { background-position: 40px 40px; }
}

.animate-move {
  animation: move 4s linear infinite;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  color: #544873;
  color: #71a6f1
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@layer utilities {
    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
    .animate-fadeIn {
      animation: fadeIn 0.3s ease-out;
    }
  
    @keyframes scaleUp {
      from {
        transform: scale(0.95);
      }
      to {
        transform: scale(1);
      }
    }
    .animate-scaleUp {
      animation: scaleUp 0.3s ease-out;
    }
  }

